@import '../../styles/settings.scss';


.component {
    padding: 10px 0 0 0 ;
    background: #343a40;
    color: #fff;
    text-align: center;
}

.h3 {
    font-size: 20px;
    display: inline;
    margin-left: 15px;
    font-weight: 300;
}
i {
    font-size: 50px;
}